body {
  background-image: url("mrtbackground.jpg");
  background-repeat: no-repeat; 
  background-position: center;
  font-family: Momo-Signature;
}
.container bg-info {
  padding:30px;
  border-radius: 30px;
}

.container {
    width: 50%;
    text-align: center;
    margin: 0px auto;
    padding: 30px;
}
input {
  text-align: center;
}



